
.game-container{
    background-color: yellow;
    border: 1px solid red;
    width: 75%;
    height: 60vh ;
    margin: 50px auto;
}

.column {
    display: inline-block;
    width: 13.8%;
    height: 100%;
    background-color: white;
    border: 1px black solid;
    box-sizing: border-box;
    padding: 0;
}

.cell{
    display: block;
    height:16.7%;
    width: 100%;
    background-color: aqua;
    border: 1px black solid;
}