.game-container{
    background-color: yellow;
    border: 1px solid red;
    width: 60%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.column {
    flex: 1 1;
    height: 100%;
    background-color: white;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
}

.cell{
    flex: 1 1;
    background-color: aqua;
    border: 1px black solid;
}

.cell-entry{
    flex: 1 1;
    background-color: white;
    
}

.empty-circle{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: white;
    margin: 5% auto;
}

.red-circle{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: red;
    margin: 5% auto;
}